 body{
    font-family:Montserrat;
 }
 #title{
    background-color:#ff4c68;
    color:#fff;
 }
  #container1{
    padding:3% 15% 3% 15%;
    text-align: center;
 }
 h1{
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
 }

h3{
    font-weight: bolder;
}
h2{
    font-family: Montserrat-Black 900;
    /*font-weight: bolder;*/
}
p{
    color: #8f8f8f;
}


/*  Navigation bar*/
#logo{
    font-family:Ubuntu;
    font-size:2.5rem;
    font-weight:bold;
}
#navbar{
    padding:0px 0px 4.5rem 0px;

}
.nav-it{
    padding:0px 18px;
}
.nav-it .nav-link{
    font-size:1.2rem;
}

/*download button*/
.download-btn{
    margin: 5% 3% 5% 0%;
}

/*/*title image*/
.title-img{
    position:static
    width: 100%;

}


/*FEATURES*/
#features{
    padding: 7% 15%;
    background-color:#fff;
    position:relative;
    z-index:1;

}
.feature-box{
    text-align: center;
    padding: 5%;
}
.feature-icon{
    color: #ef1872;
    margin-bottom: 1rem;
}
.feature-icon:hover{
    color: #ff4c68;
}


/*Testimonial*/
#testimonials{

    text-align: center;
    background-color: #ef1872;
    color: #fff;
}
.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.c-items{
    padding: 7% 15%;
}


/*PRESS*/
#press{
    background-color: #ef1872;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 20px 50px ;
}

/*PRICING*/
#pricing{
    padding:100px;
    text-align: center;
}
.pricing-col{
    padding:3% 2%;
    
}


/*CTA SECTION*/
#cta{
    background-color:#ff4c68;
    color:#FFF;
    padding:7% 15%;
    text-align:center;
}
.cta-heading{
    font-family:'Montserrat Alternates';
    font-size:3rem;
    line-height:1.5;

}

/*FOOTER SECTION*/
#footer{
    padding:7% 15%;
    text-align:center;
}
.social-icon{
    margin: 20px 10px;
}


@media (min-width:991px){
.title-img{
    transform: rotate(25deg);
    position:relative;
    width:60%
}

#features{
    margin:-200px 0px 0px 0px;
}
}